<div class="container">
	<h1 class="ls">HOLA</h1>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quod quidem voluptatum modi maxime. Itaque ab accusamus, inventore nobis, minus debitis est possimus modi, doloribus tempore eaque maxime! Soluta, sunt!
</div>